@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    font-display: swap;
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {  
    max-width: 800px; 
    margin-right: auto; 
    margin-left:  auto;
    padding-right: 30px; 
    padding-left:  30px;
}