.wrapper {
    padding: 7rem 0 10rem;   
}

input[type=text], input[type=email], textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: solid 1px grey;
    border-radius: 5px;
}

label {
    font-size: 1.4rem;
}

button {
    width: 100%;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #ff5436;
    transition-duration: 0.4s;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:focus {
    outline: none;
}